{{ form_start(form, { 'attr': { 'class': 'space-y-4' } }) }}
    {{ form_widget(form, { 'attr': { 'class': 'block w-full p-2 rounded border-gray-300' } }) }}
    <button class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
