//start coding by removing this file and adding yours ;)
@import "wcs";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap");
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-block-size: 100vh;
    font-family: "Open Sans", sans-serif;
    background-color: hsl(188 18% 37% / 0.2);
}

.container {
    min-width: clamp(460px, 90vmin, 60rem);
    aspect-ratio: 16 / 9;
    margin: auto;
    mix-blend-mode: difference;
    position: relative;
    min-height: 42.75em;
    box-shadow: 0px 4.6px 3.8px -10px rgba(0, 0, 0, 0.114),
        0px 9.3px 8.9px -10px rgba(0, 0, 0, 0.16),
        0px 16.3px 17.3px -10px rgba(0, 0, 0, 0.202),
        0px 43px 43px -10px rgba(0, 0, 0, 0.35);
}

@media (max-height: 600px) {
    .container {
        height: 100vh;
    }
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.article {
    display: grid;
    isolation: isolate;
    position: relative;
    height: 100%;
}

.article > * {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
}

.article[hidden] {
    display: none;
}

figure {
    z-index: -1;
    height: 100%;
    grid-row: 1 / -1;
}

.image {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.text__content {
    display: grid;
    gap: 1rem;
    width: 50ch;
    position: absolute;
    top: 10em;
    left: 3em;
    margin-inline: 1rem;
}

.title {
    font-size: min(2.3em, 5vw);
    opacity: 0;
    color: dodgerblue;
}

.description {
    width: 45ch;
    font-size: 1.0625rem;
    font-weight: 600;
    color: #000;
    opacity: 0;
}

.cta-btn {
    place-self: start;
    display: inline-flex;
    font-size: 1.125rem;
    background-color: dodgerblue;
    color: #fff;
    border: 0;
    opacity: 0;
    border-radius: 10vh;
    padding: 0.5em 1.25em;
}

.aside {
    position: absolute;
    bottom: 0;
    display: flex;
    background-color: hsl(188, 8%, 47%, 0.2);
    height: 10em;
    width: 100%;
}

[role="tablist"] {
    flex: 1;
    display: flex;
    margin: 1rem;
    gap: 1rem;
}

.thumbnail__btn {
    display: inline-flex;
    width: calc(100% / 5);
    background: var(--thumbnail);
    background-position: center;
    background-size: cover;
    border: none;
}

.thumbnail__btn:nth-of-type(1) {
    --thumbnail: url(https://cdn.pixabay.com/photo/2016/11/23/14/45/coding-1853305__340.jpg);
}
.thumbnail__btn:nth-of-type(2) {
    --thumbnail: url(https://cdn.pixabay.com/photo/2023/01/10/03/59/programming-7708867__340.jpg);
}
.thumbnail__btn:nth-of-type(3) {
    --thumbnail: url(https://cdn.pixabay.com/photo/2017/10/12/22/17/business-2846221__340.jpg);
}
.thumbnail__btn:nth-of-type(4) {
    --thumbnail: url(https://cdn.pixabay.com/photo/2017/07/31/11/31/laptop-2557468__340.jpg);
}
.thumbnail__btn:nth-of-type(5) {
    --thumbnail: url(https://cdn.pixabay.com/photo/2017/09/05/10/19/business-2717063__340.jpg);
}

[role="tablist"]:where(:focus-visible) [aria-selected="false"] {
    box-shadow: 0 0 0 4rem #fff8 inset;
    transition: opacity 266ms ease;
}

[aria-selected="false"]:where(:focus, :hover) {
    outline: 2px solid dodgerblue;
    scale: 0.93;
    box-shadow: 0 0 0 4rem #0007 inset !important;
}

[aria-selected="true"] {
    transform: translateY(-1rem);
    outline: 2px solid dodgerblue;
    outline-offset: 3px;
    box-shadow: 0 0.5rem 0.75rem 0.125rem #0007;
    transition: transform 166ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.article:not([hidden]) .title {
    animation: titleAnim 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes titleAnim {
    0% {
        letter-spacing: 0.5em;
        transform: translateX(1em);
        filter: blur(0.75em);
        opacity: 0;
    }
    27.5% {
        filter: blur(0.0625em);
    }
    100% {
        letter-spacing: initial;
        transform: translateX(0);
        filter: unset;
        opacity: 1;
    }
}

.article:not([hidden]) .description {
    animation: textAnim 600ms cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
    animation-delay: 400ms;
}

@keyframes textAnim {
    0% {
        transform: translateY(1em);
        filter: blur(0.5em);
        opacity: 0.125;
    }
    100% {
        transform: translateY(0);
        filter: unset;
        opacity: 1;
    }
}

.article:not([hidden]) .cta-btn {
    animation: btnAnim 600ms cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
    animation-delay: 800ms;
}

@keyframes btnAnim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
