

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


// .container {
//     min-width: clamp(460px, 90vmin, 60rem);
//     aspect-ratio: 16 / 9;
//     mix-blend-mode: difference;
//     box-shadow: 0px 4.6px 3.8px -10px rgba(0, 0, 0, 0.114),
//         0px 9.3px 8.9px -10px rgba(0, 0, 0, 0.16),
//         0px 16.3px 17.3px -10px rgba(0, 0, 0, 0.202),
//         0px 43px 43px -10px rgba(0, 0, 0, 0.35);
// }

.article > * {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
}

.article[hidden] {
    display: none;
}

figure {
    z-index: -1;
    height: 100%;
    grid-row: 1 / -1;
}

.image {
    width: 39em;
    height: 20em;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.title {
    font-size: min(2.3em, 5vw);
    opacity: 0;
    color: dodgerblue;
}

.description {
    width: 45ch;
    font-size: 1.0625rem;
    font-weight: 600;
    color: #000;
    opacity: 0;
}

.cta-btn {
    place-self: start;
    display: inline-flex;
    font-size: 1.125rem;
    background-color: dodgerblue;
    color: #fff;
    border: 0;
    opacity: 0;
    border-radius: 10vh;
    padding: 0.5em 1.25em;
}

.aside {
    position: absolute;
    bottom: 0;
    display: flex;
    height: 10em;
    width: 100%;
}

[role="tablist"] {
    flex: 1;
    display: flex;
    margin: 1rem;
    gap: 1rem;
}

.thumbnail__btn {
    display: inline-flex;
    width: calc(100% / 5);
    background: var(--thumbnail);
    background-position: center;
    background-size: cover;
    border: none;
}

[role="tablist"]:where(:focus-visible) [aria-selected="false"] {
    box-shadow: 0 0 0 4rem #fff8 inset;
    transition: opacity 266ms ease;
}

[aria-selected="false"]:where(:focus, :hover) {
    outline: 2px solid dodgerblue;
    scale: 0.93;
    box-shadow: 0 0 0 4rem #0007 inset !important;
}

[aria-selected="true"] {
    transform: translateY(-1rem);
    outline: 2px solid dodgerblue;
    outline-offset: 3px;
    box-shadow: 0 0.5rem 0.75rem 0.125rem #0007;
    transition: transform 166ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.article:not([hidden]) .title {
    animation: titleAnim 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes titleAnim {
    0% {
        letter-spacing: 0.5em;
        transform: translateX(1em);
        filter: blur(0.75em);
        opacity: 0;
    }
    27.5% {
        filter: blur(0.0625em);
    }
    100% {
        letter-spacing: initial;
        transform: translateX(0);
        filter: unset;
        opacity: 1;
    }
}

.article:not([hidden]) .description {
    animation: textAnim 600ms cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
    animation-delay: 400ms;
}

@keyframes textAnim {
    0% {
        transform: translateY(1em);
        filter: blur(0.5em);
        opacity: 0.125;
    }
    100% {
        transform: translateY(0);
        filter: unset;
        opacity: 1;
    }
}

.article:not([hidden]) .cta-btn {
    animation: btnAnim 600ms cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
    animation-delay: 800ms;
}

@keyframes btnAnim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
