.article > * {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
}

.article[hidden] {
    display: none;
}

figure {
    z-index: -1;
    grid-row: 1 / -1;
}

.image {
    max-width: 42rem;
    height: auto;
    aspect-ratio: 16 / 8;
    object-fit: cover;
}

.title {
    font-size: min(3.5em, 7vw);
    opacity: 0;
}

.description {
    opacity: 0;
}

.cta-btn {
    position: relative;
    display: inline-flex;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    opacity: 0;
    width: 12rem;
    height: auto;
    
    &.learn-more {
        .circle {
            position: relative;
            display: block;
            margin: 0;
            width: 3rem;
            height: 3rem;
            background: dodgerblue;
            border-radius: 1.625rem;
            transition: width 0.5s ease; 

            .icon {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                background: #fff;
                transform: translate(0, 0); 
                transition: transform 0.5s ease; 
                
                &.arrow {
                    left: 0.625rem;
                    width: 1.125rem;
                    height: 0.125rem;
                    background: none;

                    &::before {
                        position: absolute;
                        content: '';
                        top: -0.25rem;
                        right: 0.0625rem;
                        width: 0.625rem;
                        height: 0.625rem;
                        border-top: 0.125rem solid #fff;
                        border-right: 0.125rem solid #fff;
                        transform: rotate(45deg);
                    }
                }
            }
        }

        .button-text {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0.75rem 0;
            margin: 0 0 0 1.85rem;
            color: dodgerblue;
            font-weight: 700;
            line-height: 1.6;
            text-align: center;
            text-transform: uppercase;
        }
    }

    &:hover {
        .circle {
            width: 100%;
            .icon {
                &.arrow {
                    background: #fff;
                    transform: translate(1rem, 0); 
                }
            }
        }
        .button-text {
            color: #fff;
        }
    }
}

.aside {
    bottom: 0;
    display: flex;
    height: 10rem;
    width: 100%;
}

[role="tablist"] {
    flex: 1;
    display: flex;
    margin: 1rem;
    gap: 1rem;
}

.thumbnail__btn {
    flex: 1;
    display: inline-flex;
    background: var(--thumbnail);
    background-position: center;
    background-size: cover;
    border: none;
    position: relative;
}

[role="tablist"]:where(:focus-visible) [aria-selected="false"] {
    box-shadow: 0 0 0 4rem #fff8 inset;
    transition: opacity 266ms ease;
}

[aria-selected="false"]:where(:focus, :hover) {
    outline: 2px solid dodgerblue;
    scale: 0.93;
    box-shadow: 0 0 0 4rem #0007 inset !important;
}

[aria-selected="true"] {
    transform: translateY(-1rem);
    outline: 2px solid dodgerblue;
    outline-offset: 3px;
    box-shadow: 0 0.5rem 0.75rem 0.125rem #0007;
    transition: transform 166ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.article:not([hidden]) .title {
    animation: titleAnim 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes titleAnim {
    0% {
        letter-spacing: 0.5em;
        transform: translateX(1em);
        filter: blur(0.75em);
        opacity: 0;
    }
    27.5% {
        filter: blur(0.0625em);
    }
    100% {
        letter-spacing: initial;
        transform: translateX(0);
        filter: unset;
        opacity: 1;
    }
}

.article:not([hidden]) .description {
    animation: textAnim 600ms cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
    animation-delay: 400ms;
}

@keyframes textAnim {
    0% {
        transform: translateY(1em);
        filter: blur(0.5em);
        opacity: 0.125;
    }
    100% {
        transform: translateY(0);
        filter: unset;
        opacity: 1;
    }
}

.article:not([hidden]) .cta-btn {
    animation: btnAnim 600ms cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
    animation-delay: 800ms;
}

.thumbnail__title {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.thumbnail__btn:hover .thumbnail__title {
    display: block;
}

.article:not([hidden]) .image {
    animation: imageAnim 600ms cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}

@keyframes imageAnim {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes btnAnim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 728px) { 
    .mobile-border {
        border-bottom: 1px solid #9ca3af; 
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1); 
    }

    .image { 
        max-width: 90%;
        margin-top:3em;
    }

    .circle {
        width: 2rem;
        height: 2rem;
    }

    .responsive {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 10em;
    }

    .learn-more {
        margin-top: 1em;
    }
}

@media (min-width: 1555px) {

    .responsive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10em;
    }
}